<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>WELCOME to Home Page!</h1>
<form action="#" class="add-post">
      <textarea name="post-text" id="text" class="add-text" placeholder="Текст вашего поста"></textarea>
      <div class="add-buttons">
        <button type="submit" class="button add-button">
          Опубликовать пост
        </button>
      </div>
    </form>
</body>
</html>